#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


p {
  color: #8f8f8f;
}

/* heading */
.big-heading{
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 1.5;

}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
}

/* Container */
.container-fuild {
  padding: 3% 15% 5%;
}

.colored-section{
  color: #fff;
}
.white-section{
  color: black;
}

/* Styling nav-bar used from bootstrap */
.navbar-brand {
  font-family: 'ubuntu', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.4rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

/* Styling Iphone image on desktop */
.iphone-img {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  right: 24%;
}


.downldbtn {
  margin: 5% 5% 5% 0;
}



/* feature-section */
#features {
  padding: 8%;
  background-color: #fff;
  position: relative;
  z-index: 1;
  /* bottom: 180px; */
}

.feature-title{
  font-size: 1.5rem;
}



.fa-img {
  padding-bottom: 5%;
  color: #ef8172;
}

.fa-img:hover {
  color: #ff4c68;
}

.col-pad {
  padding: 0 4%;
}

/* testimonial-section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

.carousel-item {
  padding: 7% 10%;
}



.dog-image {
  border-radius: 100%;
  margin: 2rem;
  width: 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%
}

.press-img {
  width: 15%;
  margin: 1.3rem 1.3rem 3.1rem;
}


/* pricing section */
#pricing {
  padding: 5% 10%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

.btn-sign {
  width: 90%;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width:991px) {
  #title {
    text-align: center;
  }

  .iphone-img {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}

@media (min-width:1307px){
  #title {
    z-index: -1;
  }

  .iphone-img {
    position: absolute;
    width: 15%;
  }
}


#cta {
  background-color: #ff4c68;
  padding: 7% 22%;
}

/* .action-call {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
} */

.btn-action {
  margin: 5px 10px;
}

#footer {
  /* height: 10rem; */
  padding: 5%;
}

.icon {
  margin: 0 1%;
  padding-bottom: 2%;
}
